<h2>New survey</h2>

<%= render "form.html", changeset: @changeset,
                        action: cave_survey_path(@conn, :create, @cave) %>

<%= link "Back", to: cave_survey_path(@conn, :index, @cave) %>
